a:link { 

color: #ffffff;

text-decoration: none;

}

a:visited {

color: #ffffff;

text-decoration: none;

}

a:hover {

color: #ffffff;

text-decoration: none;

}

a:active {

color: #ffffff;

text-decoration: none;

}

#logo {
    align-items: left;
    float:left
}

#rightside{
    align-items: right;
    float: right;
}
